# IntelliJ project files
.idea
*.iml
out
gen

# Maven #
target/

# Eclipse #
.settings/
.classpath
.project

# Java Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
